{% extends "base.html" %}
{% block title %}忘记密码{% endblock %}
{% block container %}
{% load staticfiles %}
    <div class="section-tout">
      <div class="container">
        <form class="form-horizontal" method="post" align="center">{% csrf_token %}
            <div class='form-group'>
                <label for="username" class="col-sm-4 control-label">{{ form.username.label_tag }}</label>
                <div class="col-sm-4">
                {{ form.username }} <span>{{ form.username.errors }}</span>
                </div>
            </div>
            <div class='form-group'>
                <label for="email" class="col-sm-4 control-label">{{ form.email.label_tag }}</label>
                <div class="col-sm-4">
                {{ form.email }} <span>{{ form.email.errors }}</span>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">提交</button>
            </div>
        </form>
      </div>
    </div>
{% endblock %}
