{% extends "base.html" %}
{% block title %}500{% endblock %}
{% block container %}
{% load staticfiles %}
    <div class="splash">
      <div class="container">

        <div class="row">
          <div class="col-lg-12">
              <div><img class="logo" src="{% static "img/500.jpeg" %}"></div>
            <h1>服务器响应出错！</h1>
            <h3>500!</h3>
          </div>
        </div>

      </div>
    </div>
    <div class="section-tout">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="sponsor">
                        出错信息已通知管理员，收到消息后会尽快修复。
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
