<!DOCTYPE html>
<html>
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} | Reminds</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" media="screen">
    <link rel="stylesheet" href="{% static "css/bootswatch.min.css" %}">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static "js/html5shiv.js" %}"></script>
      <script src="{% static "js/respond.min.js" %}"></script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Reminds</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/account/register/">注册</a></li>
            <li><a href="/account/">登录</a></li>
          </ul>
        </div>
      </div>
    </div>

    {% if messages %}
    <div class="alert alert-info" align="center" style="z-index:1;">
        <a class="close" data-dismiss="alert">×</a>
        {% for m in messages %}
        <p>{{m}}</p>
        {% endfor %}
    </div>
    {% endif %}

    {% block container %}
    {% endblock %}

    <div class="container">
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Made by <a href="http://axiaoxin.com"  target="_blank">阿小信大人</a>. </p>
            <p>联系我 <a href='&#109;ailto&#58;%&#51;254&#54;0%3&#54;%38%32&#54;&#64;qq&#46;com'>2546&#48;&#54;8&#50;6&#64;qq&#46;c&#111;&#109;</a>.</p>
          </div>
        </div>
      </footer>
    </div>


    <script src="{% static "js/jquery-1.10.2.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/bootswatch.js" %}"></script>
  </body>
</html>

