{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block container %}
{% load staticfiles %}
    <div class="splash">
      <div class="container">

        <div class="row">
          <div class="col-lg-12">
              <div><img class="logo" src="{% static "img/logo.png" %}"></div>
            <h1>提醒，提醒！</h1>
            <h3>Reminds, Reminds!</h3>
          </div>
        </div>

      </div>
    </div>
    <div class="section-tout">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="sponsor">
                        <p>总是忘记父母生日！</p>
                        <p>总是忘记朋友生日！</p>
                        <p>总是忘记重要日子！</p>
                        <p>总是想起后才后悔！</p>
                        <p>对，我就是这样的人</p>
                        <p>一个该引爆升天变成一朵朵烟花迅速火化的人！</p>
                        <p>为了记住各种重要日子</p>
                        <p>虽然有很多这类APP</p>
                        <p>但是毕竟单身寂寞屌</p>
                        <p>写写程序可以打发无聊时间</p>
                        <p>于是就随手做了这个网站</p>
                        <p>最后，欢迎注册使用！</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
